.playing-field__container{
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 50px auto;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing-field{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
