.card__container {
    width: 80px;
    height: 80px;
    margin: 5px;
    perspective: 1000px;
    cursor: pointer;
    box-shadow: gray;
}
.fliped{

}

.card {
    width: inherit;
    height: inherit;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/*.card__container .card:active {*/
/*    transform: scale(0.97);*/
/*    transition: transform .2s;*/
/*}*/

.flip {
    transform: rotateY(180deg);
}

.card__front, .card__back {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card__front {
    z-index: 2;
    background-color: gray;
}

.card__back {
    transform: rotateY(180deg);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

